<%# app/views/shared/_footer.html.erb %>
<footer>
    <div class="footer-section">
        <div class="hero-container">
            <div class="footer-container">
                <h2 class="hidden">Footer</h2>
                <div class="footer-header-container">
                    <a href="/the-retreat" class="footer-link  animation-box anim-normal anim-delay-sm" data-animation="fade-up">The Retreat</a>
                    <a href="/experience" class="footer-link animation-box anim-normal anim-delay-sm" data-animation="fade-up" >Experience</a>
                    <a href="/about" class="footer-link animation-box anim-normal anim-delay-sm" data-animation="fade-up">About Us</a>
                    <a href="#" class="footer-link disabled-link animation-box anim-normal anim-delay-sm" data-animation="fade-up" data-href="/availability">Availability</a>
                    <a href="#" class="footer-link disabled-link animation-box anim-normal anim-delay-sm" data-animation="fade-up" data-href="/faq">FAQ</a>
                </div>
                <div class="footer-link-wrapper">
                    <div class="footer-link-container container-narrow animation-box anim-normal anim-delay-sm" data-animation="fade-up">
                        <h3 class="heading-sm">Quick Links</h3>
                        <a href="#" class="footer-link disabled-link" data-href="/policies">Policies</a>
                        <a href="#" class="footer-link disabled-link" data-href="/privacy">Privacy Policy</a>
                        <a href="#" class="footer-link disabled-link" data-href="/terms">Terms of Service</a>
                        <a href="#" class="footer-link disabled-link" data-href="/faq">FAQ</a>
                    </div>
                    <div class="footer-link-container container-narrow animation-box anim-normal anim-delay-sm" data-animation="fade-up">
                        <h3 class="heading-sm">Our Socials</h3>
                        <a href="#" class="footer-link">Instagram</a>
                        <a href="#" class="footer-link">Facebook</a>
                        <a href="#" class="footer-link">Twitter</a>
                        <a href="#" class="footer-link">YouTube</a>
                    </div>
                    <div class="footer-link-container container-wide">
                        <div class="image-container footer-logo animation-box anim-normal anim-delay-sm" data-animation="fade-up">
                            <img src="/assets/P07.png" alt="The Anchorpoint Retreat">
                        </div>
                        <h3 class="animation-box anim-normal anim-delay-sm" data-animation="fade-up">Subscribe for updates and special offers</h3>

                        <div class="alert success success-message-newsletter hidden">
                            <span class="check-icon"><i class="fa-solid fa-2xl fa-check"></i></span>
                            <p>Thank you! Form submitted successfully.</p>
                        </div>

                        <div class="alert error error-message-newsletter hidden">
                            <span class="cross-icon"><i class="fa-solid fa-2xl fa-xmark"></i></span>
                            <p>Oops! Form submission failed. Please try again.</p>
                        </div>

                        <form id="newsletter-form" action="#" class="form newsletter-card" method="post">
                            <input type="email" name="newsletter" id="newsletter" class="newsletter-input" placeholder="Email">
                            <button type="submit" class="btn btn-accent newsletter-btn">Subscribe Now</button>
                        </form>
                    </div>
                </div>
                <div class="copyright-container">
                    <span class="copyright-text animation-box anim-normal anim-delay-sm" data-animation="fade-up">&copy; <%= Time.current.year %> The Anchorpoint Retreat. All rights reserved.</span>
                    <div class="footer-legalink-container animation-box anim-normal anim-delay-sm" data-animation="fade-up">
                        <a href="#" class="footer-legalink disabled-link" data-href="/privacy">Privacy Policy</a>
                        <a href="#" class="footer-legalink disabled-link" data-href="/terms">Terms &amp; Conditions</a>
                        <a href="#" class="footer-legalink disabled-link" data-href="/policies">Cookies Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
